[cmdk-root] {
  @apply relative w-full max-w-[640px] rounded-xl border border-border bg-card pt-2 outline-none;
}

[cmdk-overlay] {
  @apply absolute inset-0 z-50 bg-black/40 backdrop-blur-sm transition-all;
}

[cmdk-input] {
  @apply w-full border-b border-b-border bg-transparent p-4 pt-2 text-lg text-foreground outline-none;
}

[cmdk-input]::placeholder {
  @apply text-muted-foreground;
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 32px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  color: theme('colors.muted.foreground');
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;
}

[cmdk-item][data-selected='true'] {
  @apply bg-secondary text-foreground;
}

[cmdk-item]:active {
  @apply bg-secondary transition-all;
  opacity: 0.8;
}

[cmdk-list] {
  padding: 16px 8px 0px 8px;
  height: 393px;
  overflow: auto;
  overscroll-behavior: contain;
  scroll-padding-block-end: 40px;
  transition: 100ms ease;
  transition-property: height;
}

[cmdk-group] {
  @apply mb-4;
}

[cmdk-group-heading] {
  @apply mb-2 flex items-center px-2 text-xs text-muted-foreground;
}

[cmdk-dialog] {
  z-index: 100;
  width: 640px;
  position: fixed;
  left: 50%;
  top: 260px;
  transform: translateX(-50%);
}

[cmdk-empty] {
  @apply flex h-16 items-center justify-center text-sm text-muted-foreground;
}
